<!DOCTYPE html>
<html lang="en">
<#include "resource.html">
<link href="../../static/css/reset.css" rel="stylesheet" type="text/css"/>
<link href="../../static/css/index.css" rel="stylesheet" type="text/css"/>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="top_line">
	  <div class="top_heart">
		<ul style="list-style-type:none;">
            	<li style="float:left">说书</li>
            	<#if session_user??>
            	<li style="float:right"><a href="/user/logout.html">退出登录</a></li>
            	<li style="float:right; margin-right:20px"><a href="/member/main.html">进入个人中心</a></li>
            	<li style="float:right; margin-right:20px">你好，${session_user.username}</li>
                <#else>
                <li style="float:right"><a href="/user/login.html">登录</a></li>
                <li style="float:right; margin-right:20px"><a href="/user/register.html">注册</a></li>
                </#if>
          </ul>
		</div>
	</div>


<!-- 导航栏 -->
	<div class="navigation_bar">
	 <!--  <div class="navigation_bar_lf">
			<ul>首页</ul>
			<ul>关于</ul>
		</div> -->

		<div class="navigation_bar_rt">
			<input type="text" placeholder="请输入您要搜索的书本名称" class="product_search" >
			<input type="button" class="search_button" value="搜索">
	  </div>


	</div>
    
    <!-- 内容区域 -->
    <div class="book_list">

    	书本分页区域,ajax获取数据
    </div>
	<div id="kkpager" style="text-align: center"></div>
	<script>
		seajs.use("/static/js/home/index.js");
	</script>
	<!-- 导航栏end -->
</body>
</html>