<!DOCTYPE html>
<html>
<#include "resource.html">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style="text-align: center; margin: 200px 0 50px 0;">
	<span style="font-size: xx-large;color: green;">注册成功</span>
</div>

<div style="text-align: center; margin: 0 0 50px 0;">
<button class="register_success_button"  onclick="window.location.href='/user/login.html'" >登录</button>
    
    <button class="register_success_button" onclick="window.location.href='/index.html'" >主页</button>
</div>
</body>
</html>