<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style="text-align: center; margin: 200px 0 50px 0;">
	<span style="font-size: xx-large;color: green;">推荐成功</span>
</div>

<div style="text-align: center; margin: 0 0 50px 0;">
<button style="background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;"  onclick="window.location.href='/member/main.html'" >个人中心</button>
    
    <button style="background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;" onclick="window.location.href='/index.html'" >主页</button>
</div>
</div>
</body>
</html>